
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
}


/* Estilos básicos */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr ;
  grid-template-rows: auto auto auto ;
  grid-template-areas:
    "header header "
    "aside main "
    "footer footer ";
  gap: 1rem;
}

header {
  grid-area: header;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

aside {
  grid-area: aside;
  background-color: #f0f0f0;
  padding: 1rem;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Responsividad */
@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
  }
}