* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
}
.contenedor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.elemento {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: lightblue;
  border: 1px solid black;
}

.elemento > div {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}