:root {
  --main-radius: 5px;
  --main-padding: 5px;
  font-size: 18px;
}






body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  gap: 0.2rem;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 1em ;
  color: #004d40;
  font-family: "Inter", sans-serif;
  text-align: center;
}
